.follow-wrapper {

	.post-content {
		width: 80%;

		@include bp(min, $bp-lg) {
			width: 90%;
		}
	}

	.learn {
		h1 {
			color: $c-blue;
		}
	}

	.create {
		h1 {
			color: $c-purple;
		}
	}

	.post-buttons {
		position: absolute;
		top: 10%;
		right: 0;
	}
}
