header {

	.logo, li{
		display: inline-block;
	}

	.logo {
		display: block;
		width: 100%;
		text-align: center;

		svg {
			margin: 0 auto;
			width: 250px;

			max-width: 300px;
			height: auto;

			@include bp(min, $bp-md) {
				float: left;
				width: 300px;
			}
		}
	}
	.menu {
		display: block;
		margin-top: 25px;
		text-align: center;

		@include bp(min, $bp-md) {
			float: right;
			margin-top: 0;
		}
	}
	
	a {
		text-decoration: none;
	}
}

.primary-menu {
	text-align: center;
	padding-left: 0;
	margin-top: 0;

	@include bp(min, $bp-md) {
		text-align: right;
	}
	li {
		padding: 8px 10px;
		border: 1px solid $c-orange;
		transition: .3s ease all;

		@include bp(min, $bp-md) {
			padding: 10px 20px;
		}

		&:first-child {
			margin-right: 10px;
		}

		&:hover {
			background: $c-orange;

			a {
				color: $c-white;
			}
		}
	}
	
	a {
		position: relative;
		color: $c-orange;
		font-weight: 600;
		letter-spacing: 1px;

		@include bp(max, $bp-md) {
			font-size: 14px;
		}

	}
}

.secondary-menu {
	padding-left: 0;
	text-align: center;
	a {
		position: relative;
		margin-right: 10px;
		margin-left: 10px;
		font-size: .875rem;	

		&:hover {
			color: $c-orange;
		}
	}

	li:last-child a {
		margin-right: 0;
	}
	li:not(:last-child) {
		a {
			&:after {
				content: "|";
				position: absolute;
				right: -15px; 
				top: 0;
			}
		}
	}
}