@import 'variables';

.home-body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
  	height: 100vh;

	li {
		width: 50%;
		text-align: center;
		list-style: none;
		text-decoration: none;
	}

	.learn,
	.create {
		height: 100%;
		border: 3px solid $c-white;
	}

	.learn {
		background: $c-mint;
	}

	.create {
		background: $c-purple;
	}

  	.home-body__content {
  		position: relative;
	    top: 50%;
	    transform: translateY(-50%);
  	}

  	h1 {
  		position: relative;
  		margin-bottom: 150px;
  		margin-top: 0;
  		&:after {
  			content: '';
  			position: absolute;
  			bottom: -20px;
  			left: 0;
  			right: 0;
  			margin: 0 auto;
  			border-bottom: 3px solid $c-white;
  			width: 18%;
  		}
  	}


}