
.home-body {
	position: relative;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
  	height: 100%;

	li {
		width: 100%;
		text-align: center;
		list-style: none;
		text-decoration: none;

		@include bp(min, $bp-lg) {
			width: 50%;
		}
	}

	.img-wrapper {
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	img {
		min-width: 100%;
		min-height: 100%;
	}

	.learn,
	.create {
		position: relative;
		height: 100%;
		border-color: $c-white;
		border-style: solid;
		overflow: hidden;
	}

	.learn {
		background: rgba($c-blue, .6);
		border-width: 3px .5px 3px 3px;

		.home-body__content {

			@include bp(min, $bp-lg) {
				left: -50px;
			}
		}
	}

	.create {
		background: rgba($c-purple, .6);
		border-width: 3px 3px 3px .5px;

		.home-body__content {
			@include bp(min, $bp-lg) {
				right: -50px;
			}
		}
	}

  	.home-body__content {
  		position: relative;
	    top: 50%;

	    .button {
			margin-bottom: 100px;
		}
  	}

  	h1:not(.h1-xxl) {
  		position: relative;
  		margin-bottom: 75px;
  		margin-top: 0;
  		font-weight: 400;

  		@include bp(min, $bp-lg) {
  			margin-bottom: 150px;
  		}
  	}
  	.h1-xxl {
		font-family: $opensans;
		margin: 0;
		color: $c-gray;
		text-align: center;
		z-index: 5;

		@include bp(max, $bp-lg) {
			&:after {
				content: "…";
				position: relative;
			}
		}

		@include bp(min, $bp-lg) {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: $c-white;
			text-shadow: 3px 5px 0px rgba(0,0,0,0.50);

			span {
				display: block;
			}
		}
	}

	.home-body__content--header {
		display: block;

		h1 {
			position: relative;
			margin-top: 100px;
		}

		&:before,
		&:after,
		h1:before,
		h1:after {
			content: "";
			display: block;
			position: absolute;
			width: 34px;
			height: 34px;
			border-color:$c-white; 
    		border-style: solid;
		}

		&:before {
			top:-5%;
			left:25%;
			border-width: 3px 0 0 3px;
			margin-left: -10px;
		}

		&:after {
			top: -5%;
			right: 25%;
			border-width: 3px 3px 0 0;
			margin-right: -10px;
		}

		h1:before {
			bottom:-5%;
			left:25%;
			border-width: 0 0 3px 3px;
			margin-left: -10px;
		}
		h1:after {
			bottom:-5%;
			right:25%;
			border-width: 0 3px 3px 0;
			margin-right: -10px;
		}
	}
}