$c-black: #000;
	$c-black-50: rgba(#000, .5);

$c-white: #fff;

$c-gray: #6F6F6F;
$c-purple: #6A35A8;
$c-mint: #24C29C;
$c-blue: #089ABF;
$c-orange: #E47C64;


$satisfy: 'Satisfy', cursive;
$opensans: 'Open Sans Condensed', sans-serif;
$mont: 'Montserrat', sans-serif;

$bp-sm: 600px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1440px;
